*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}
a{
    text-decoration-line: none;
}
.container {
    width: calc(100% - 330px);
    margin: auto;
}
.row{
    display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     align-items: center;
}
.list ul{
    display: flex;
    gap: 60px;
}
.list a{
    color: #3A3845;
}
.icons ul{
    display: flex;
    gap: 24px;
}

.header{
    padding: 31.84px;
}
.header .row{
    justify-content: space-between;
}
.menu{
    display: none;
}
@media screen and (min-width:320px) and (max-width:991px) {
    .container {
    width: calc(100% - 40px);
}
    
    .list{
        display: none;
    }
    .hidden-icons{
        display: none;
    }
    .menu{
        display: block;
    }
}
.collections .row{
    gap:30px;
}
.collection{
text-align: center;
width: calc((100% - 90px)/4);
}
.collection img{
    width: 100%;
}

@media  screen and (min-width:600px) and (max-width:991px) {
    .collection{
        width: calc((100% - 30px ) /2);
    }
}
@media screen and (min-width:320px) and (max-width:599px) {
    .collection{
        width: 100%;
    }
}
